@import url('https://fonts.googleapis.com/css?family=Arvo');
@import url('https://fonts.googleapis.com/css?family=Dokdo');

/* COLOUR SCHEME STYLE */

:root {
    --background-color: #d2d0ba;
    --font-color: #104547;
    --navbar-background: #7b9e87;
    --navbar-color: white;
    --body-name-border: darkslategray;
    --light-mode-visibility: visible;
    --dark-mode-visibility: hidden;
    --light-mode-display: block;
    --dark-mode-display: none;
}

[data-theme="dark"] {
    --background-color: #7a6563;
    --font-color: #ece2d0;
    --navbar-background: #1c0118;
    --navbar-color: white;
    --body-name-border: #1c0118;
    --light-mode-visibility: hidden;
    --dark-mode-visibility: visible;
    --light-mode-display: none;
    --dark-mode-display: block;
}

html {
    background: var(--background-color);
    color: var(--font-color);
}

.navbar {
    background: var(--navbar-background);
}

.navbar, .navbar a {
    color: white;
}

.body-name {
    border-right: 2px solid var(--body-name-border);
}

.body-name, .body-links a {
    color: var(--font-color);
}

.light-mode-only {
    visibility: var(--light-mode-visibility);
    display: var(--light-mode-display);
    color: white;
}

.light-mode-only a {
    color: white;
}

.dark-mode-only {
    visibility: var(--dark-mode-visibility);
    display: var(--dark-mode-display);
    color: var(--body-name-border);
}

.dark-mode-only a {
    color: var(--body-name-border);
}

/* NAVIGATION STYLE */

body {
    font-family: Arvo, 'Raleway', sans-serif;
    padding: 0;
    margin: 0;
}

ul {
    margin: 0;
}

.footer {
    width: 100%;
    margin: 0 auto;
    position: unset;
    bottom: 5px;
}

.footer p {
    text-align: center;
}

.navbar {
    font-family: 'Dokdo', cursive;
    padding: 5px 10px;
    text-transform: uppercase;
    box-shadow: 10px 0 5px grey;
}

.navbar a {
    text-decoration: none;
    text-align: center;
    padding: 8px 20px;
}

.navbar li {
    display: inline;
    font-size: 1.5em;
}

.navbar-button a:hover {
    background-color: black;
    color: white;
}

#navbar-logo {
    margin-right: 10%;
    padding: 0 10px 0 10px;
}

#intro-name {
    color: #d57ae2;
}

/* MAIN BODY STYLE */

a {
    text-decoration: none;
    color: #0645AD;
}

.body-introduction {
    display: block;
    text-align: center;
    justify-content: center;
    padding-top: 30px;
}

.body-introduction a {
    text-decoration: none;
    color: white;
}

.body-introduction div {
    border-width: 0 1px 0 1px;
    border-style: solid;
    padding: 10px 30px;
}

.body {
    text-align: center;
    justify-content: center;
    margin-top: 17%;
    display: flex;
}

.body-name {
    margin: 0 20px;
    padding: 10px;
    vertical-align: middle;
    object-fit: cover;
}

.body-image-link {
    display: flex;
}

.body-image-link h4 {
    margin: 10px;
    font-weight: normal;
}

.body-image-link img {
    width: 32px;
    height: 32px;
}

.body-links iframe {
    display: block;
    text-align: left;
}

.about-me {
    width: 60%;
    margin: 0 auto;
}

.feature-container {
    display: flex;
    text-align: center;
    justify-content: center;
    border-width: 0;
    margin-top: 3%;
}

.feature-container div {
    margin: 0 5%;
    width: 20%;
}

.feature {
    border-width: 1px;
    border-style: solid;
    border-radius: 10px;
    height: 500px;
}

.feature p {
    padding: 15px 5px;
}

.feature-contact-button {
    border-style: solid;
    border-width: 1px;
    border-radius: 7px;
    padding: 10px;
    background-color: #90bc16;
    color: white;
}

.feature-contact-button:hover {
    border-color: #90bc16;
    color: #90bc16;
    background-color: white;
}

.footer {
    position: static;
    bottom: 5px;
}

.sponsor-box {
    text-align: center;
}

.sponsor-box iframe {
    display: inline-block;
    vertical-align: middle;
    padding-top: 50px;
}

#lower-feature {
    margin-top: 5%;
}

#contact-button {
    border-width: 0;
    width: 110px;
    height: 20px;
    margin: 0 auto;
    padding: 5px;

}

#contact-button p {
    background-color: #90bc16;
    border-radius: 10px;
    padding: 5px;
    margin: 0;
}

#green {
    color: #90bc16;
}

#blue {
    color: #41a1d8;
}

