html, body {
    height: 100%;
}

a {
    text-decoration: none;
    color: white;
}

#intro-wrapper {
    min-height: 100%;
    position: relative;
    color: white;
    background-color: #216CB0;
    white-space: nowrap;
}

.navbar {
    display: inline-flex;
    justify-content: end;
    width: 100%;
}

.navbar div {
    padding: 0 20px;
}

.navbar-link-box {
    display: inline-flex;
    margin-right: 10px;
}

.navbar-link {
    font-size: 24px;
}

.navbar-link:hover {
    text-decoration: underline;
}

.main {
    width: 100%;
    margin-top: 15%;
}

.main-line {
    display: inline-flex;
    width: 100%;
    justify-content: center;
}

.social-icon {
    margin: 0 12px;
}

#hi {
    font-family: "Irish Grover", cursive;
    font-size: 40px;
    margin: 0 10px;
}

#discord-tag {
    margin-top: 5px;
}

#discord-tag:hover {
    cursor: pointer;
}

#discord-icon {
    margin-right: 10px;
}

.sub-main-line {
    display: grid;
    justify-content: center;
    margin-top: 10px;
}

.code-block {
    width: fit-content;
}

.indent-main-line p {
    font-size: 28px;
    margin: 0;
    text-align: center;
}

.svg-cloud {
    position: absolute;
    display: flex;
    justify-content: flex-start;
}

#intro-footer {
    margin-bottom: -1px;
    bottom: 0;
    right: 0;
}

#intro-footer svg {
    display: inline-flex;
}

.clickable:hover {
    cursor: pointer;
}